<h3>{{viewTitle}}</h3>

<p>The Insomnia Severity Index has seven questions(2-8). The seven answers are added up to get a total score. When you have
your total score, look at the 'Guidelines for Scoring/Interpretation' below to see where your sleep difficulty fits. </p>
<form action="/patientSurvey" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{patientSurvey._id}}">
    <div class="form-group">
        <label>1. Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name"
            value="{{patientSurvey.fullName}}" required>
        <div class="text-danger">
            {{patientSurvey.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>2. Difficulty Falling Asleep</label>
        <input  type="number" min="0" max="4" class="form-control" name="difficultyFallingAsleep" placeholder="Enter 0-4 where 0 is None, 1 is Mild, 2 is Moderate, 3 is Severe , 4 is Very Severe"
            value="{{patientSurvey.difficultyFallingAsleep}}" required>
             <div class="text-danger">
            {{patientSurvey.numberError}}</div>
    </div>
    <div class="form-group">
        <label>3. Difficulty Staying Asleep </label>
        <input type="number" min="0" max="4" class="form-control" name="difficultyStayingAsleep" placeholder="Enter 0-4 where 0 is None, 1 is Mild, 2 is Moderate, 3 is Severe , 4 is Very Severe"
            value="{{patientSurvey.difficultyStayingAsleep}}" required>
    </div>
    <div class="form-group">
        <label> 4. Problems waking up too early </label>
        <input type="number" min="0" max="4" class="form-control" name="problemsWakingUpTooEarly"
            placeholder="Enter 0-4 where 0 is None, 1 is Mild, 2 is Moderate, 3 is Severe , 4 is Very Severe" value="{{patientSurvey.problemsWakingUpTooEarly}}" required>
    </div>
    <div class="form-group">
        <label>5. How SATISFIED/DISSATISFIED are you with your CURRENT sleep pattern? </label>
        <input type="number" class="form-control" name="currentSleepPattern" min="0" max="4" placeholder="Enter 0-4 where 0 is Very Satisfied, 1 is Satisfied, 2 is Moderately Satisfied, 3 is Dissatisfied , 4 is Very Dissatisfied"
            value="{{patientSurvey.currentSleepPattern}}" required>
    </div>
    <div class="form-group">
        <label>6. How NOTICEABLE to others do you think your sleep problem is in terms of impairing the quality of your
            life? </label>
        <input type="number" class="form-control" name="noticeableToOthers" min="0" max="4" placeholder="Enter 0-4 where 0 is Not at all Noticeable, 1 is A Little, 2 is SomeWhat, 3 is Much , 4 is Very Much Noticeable"
            value="{{patientSurvey.noticeableToOthers}}" required>
    </div>
    <div class="form-group">
        <label>7. How WORRIED/DISTRESSED are you about your current sleep problem? </label>
        <input type="number" class="form-control" name="worriedCurrentSleepProblem" min="0" max="4" placeholder="Enter 0-4 where 0 is Not at all Worried, 1 is A Little, 2 is SomeWhat, 3 is Much , 4 is Very Much Worried"
            value="{{patientSurvey.worriedCurrentSleepProblem}}" required>
    </div>
    <div class="form-group">
        <label> 8. To what extent do you consider your sleep problem to INTERFERE with your daily functioning (e.g. daytime
            fatigue, mood, ability to function at work/daily chores, concentration, memory, mood, etc.) CURRENTLY?
        </label>
        <input type="number" class="form-control" name="sleepProblemToInterface" min="0" max="4" placeholder="Enter 0-4 where 0 is Not at all Interfering, 1 is A Little, 2 is SomeWhat, 3 is Much , 4 is Very Much Interfering"
            value="{{patientSurvey.sleepProblemToInterface}}" required>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/patientSurvey/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>